Repository eBay/flutter_glove_box, pull requests merged in 2020-11, with the labels that each got.

#78 Update the docs for having loadAppFonts() working
  packages/golden_toolkit/README.md
Labels: documentation

#89 Add Pub badge
  packages/golden_toolkit/README.md
Labels: documentation, golden_toolkit

#88 Migrate to null safety
  .travis.yml
  packages/golden_toolkit/analysis_options.yaml
  packages/golden_toolkit/example/lib/src/flutter_demo_page.dart
  packages/golden_toolkit/example/lib/src/weather_widgets.dart
  packages/golden_toolkit/example/pubspec.lock
  packages/golden_toolkit/example/pubspec.yaml
  packages/golden_toolkit/example/test/example_test.dart
  packages/golden_toolkit/example/test/flutter_test_config.dart
  packages/golden_toolkit/example/test/global_config/flutter_test_config.dart
  packages/golden_toolkit/lib/src/configuration.dart
  packages/golden_toolkit/lib/src/device.dart
  packages/golden_toolkit/lib/src/device_builder.dart
  packages/golden_toolkit/lib/src/font_loader.dart
  packages/golden_toolkit/lib/src/golden_builder.dart
  packages/golden_toolkit/lib/src/multi_screen_golden.dart
  packages/golden_toolkit/lib/src/test_asset_bundle.dart
  packages/golden_toolkit/lib/src/testing_tools.dart
  packages/golden_toolkit/lib/src/widget_tester_extensions.dart
  packages/golden_toolkit/pubspec.lock
  packages/golden_toolkit/pubspec.yaml
  packages/golden_toolkit/test/configuration/flutter_test_config.dart
  packages/golden_toolkit/test/configuration_test.dart
  packages/golden_toolkit/test/device_builder_test.dart
  packages/golden_toolkit/test/flutter_test_config.dart
  packages/golden_toolkit/test/image_loading/image_loading_utils.dart
  packages/golden_toolkit/test/material_app_wrapper_test.dart
  packages/golden_toolkit/test/sample_dependency/pubspec.lock
  packages/golden_toolkit/test/shadows/flutter_test_config.dart
  packages/golden_toolkit/test/test_asset_builder_test.dart
Labels: enhancement, golden_toolkit
